<h3><%= t('.my_proposals') %></h3>

<% @proposals.each do |proposal| %>
  <h5><%= link_to proposal.project.title, user_project_proposal_path(proposal.project, proposal) %></h5>
  <h5><%= "#{t('.status')}: #{proposal.class.human_enum_name(:status, proposal.status)}" %></h5> 
<% end %>
