<h1><%= t('.title') %></h1>

<h3><%= t('.slogan') %></h3>

<nav>
  <%= link_to t('.area_owner'), new_project_owner_session_path unless project_owner_signed_in? %>
</nav>

<nav>
  <% @projects.each do |project| %>
    <p><%= link_to project.title, project_path(project) %></p>
  <% end %>
</nav>
