<h1><%= 'Freelancer Now' %></h1>

<h3><%= 'Sua próxima contratação está aqui!' %></h3>

<nav>
  <% @projects.each do |project| %>
    <%= link_to project.title, project_path(project) %>
  <% end %>
</nav>

<nav>
  <%= link_to 'Área do dono do projeto', new_project_owner_session_path unless project_owner_signed_in? %>
</nav>