<h1><%= 'Freelancer Now' %></h1>

<h3><%= 'Sua próxima contratação está aqui!' %></h3>

<nav>
  <% @projects.each do |project| %>
    <%= link_to project.title, project_path(project) %>
  <% end %>
</nav>
