<div class="container">

  <h5><%= t('.slogan') %></h5>
  
  <h4><%= t('.available_projects') unless project_owner_signed_in? %></h4>


  <nav>
    <% @projects.each do |project| %>
      <p><%= link_to project.title, user_project_path(project), class: 'btn btn-outline-dark' if developer_signed_in? %></p>

      <p><%= link_to project.title, project_path(project), class: 'btn btn-outline-dark' unless developer_signed_in? || project_owner_signed_in? %></p>
    <% end %>
  </nav>
</div>
